html {
  background-color: #ff9f29;
}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h2 {
  margin-bottom: 2rem;
  font-size: 1.7rem;
}

.reg-log-container {
  width: 50vh;
}

.w-full {
  width: 100%;
}

x-input-label,
label {
  font-weight: 500;
}

x-text-input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.3rem 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.flex.items-center {
  text-align: center;
}

x-primary-button,
button {
  background-color: #000;
  color: #faf3e3;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  margin: 1rem 0;
  width: 100%;
  font-weight: 600;
}

x-primary-button.ms-4:hover,
button.ms-4:hover {
  color: #ff9f29;
}

.block.mt-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.4rem;
}

.underline.text-sm {
  font-size: 0.6rem;
  text-decoration: underline;
}

.forgor-pass {
  text-align: end;
}

.register-other {
  text-align: center;
}

.register-other a {
  color: #000;
  font-weight: 600;
}

.register-other p {
  font-weight: 500;
}
